/*

!/.github/

!/development_resource_packs
!/development_behavior_packs
/development_behavior_packs/NIA_V4.0_BP/node_modules
/development_behavior_packs/NIA_V4.0_BP/package-lock.json
/development_behavior_packs/NIA_V4.0_BP/package.json
!/NIAServerPlugin

!/plugins/
/plugins/*
!/plugins/NBan.js
!/plugins/KillItem.js

!world_behavior_packs.json
!world_resource_packs.json

!.gitignore
!.gitmodules
!CHANGELOG-PRE.md
!CHANGELOG.md
!LICENSE
!README-EN.md
!README.md

!/NIAHttpBOT/
/NIAHttpBOT/*
!/NIAHttpBOT/header/
!/NIAHttpBOT/src/
!/NIAHttpBOT/I18N/
!/NIAHttpBOT/lib/
!/NIAHttpBOT/CMakeLists.txt

