/*

!/development_behavior_packs
/development_behavior_packs/*
!/development_behavior_packs/blocks/
!/development_behavior_packs/entities/
!/development_behavior_packs/feature_rules/
!/development_behavior_packs/features/
!/development_behavior_packs/items/
!/development_behavior_packs/loot_tables/
!/development_behavior_packs/scripts/
!/development_behavior_packs/stuctures/
!/development_behavior_packs/mainfest.json
!/development_behavior_packs/pack_icon.png
!/development_resource_packs
!/NIAServerPlugin

!/plugins/
/plugins/*
!/plugins/NBan.js
!/plugins/KillItem.js

!world_behavior_packs.json
!world_resource_packs.json

!.gitignore
!.gitmodules
!CHANGELOG-PRE.md
!CHANGELOG.md
!LICENSE
!README-EN.md
!README.md

!/NIAHttpBOT/
/NIAHttpBOT/*
!/NIAHttpBOT/header/
!/NIAHttpBOT/src/
!/NIAHttpBOT/I18N/
!/NIAHttpBOT/test/
!/NIAHttpBOT/CMakeLists.txt

